.profile {
  display: flex;
  flex-direction: column;
  margin: 74px auto 70px;
  align-items: center;
}

.profile__greeting {
  margin: 0 auto 123px;
  padding: 0;
  color: #000;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__info {
  display: flex;
  flex-direction: column;
}

.profile__name {
  width: 410px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 17px;
  border-bottom: 1px solid #E8E8E8;
}

.profile__mail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 220px;
}

.profile__info-title {
  margin: 0;
  padding: 0;
  /* margin-right: 147px; */
  width: 141px;

  height: 14px;
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__info-value {
  margin: 0;
  padding: 0;
  width: 122px;
  height: 14px;
  flex-shrink: 0;
  color: #000;
  text-align: right;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__edit-button {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  border: none;
  background-color: #FFF;
  color: #000;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__logout-button {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  border: none;
  background-color: #FFF;
  color: #EE3465;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  .profile {
    margin-top: 70px;
  }

  .profile__greeting {
    margin-bottom: 80px;
  }

  .profile__name {
    width: 260px;
  }

  .profile__mail {
    margin-bottom: 379px;
  }

  .profile__info-title {
    width: 130px;
  }

  .profile__info-value {
    width: 120px;
  }

  .profile__edit-button {
    width: 300px;
    font-size: 12px;
    font-weight: 400;
  }

  .profile__logout-button {
    width: 300px;
    font-size: 12px;
    font-weight: 400;
  }
}