.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  background: #FFF;
}

.main__section-title {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  display: flex;
  border-bottom: solid 1px #000;
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}