.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: auto;
  margin-left: auto;
}

.header__navigation_loggedIn {
  margin-right: auto;
  margin-left: unset;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__menu-films {
  display: flex;
  align-items: center;
}

.header__link {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.header__link_active {
  font-weight: 500;
}

.header__navigation-signup {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.header__navigation-signin {
  font-size: 12px;
  font-weight: 500;
  width: 76px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #2BE080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navigation-films {
  margin-right: 16px;
  max-height: 18px;
  font-size: 13px;
  min-width: 54px;
  line-height: 18px;
  visibility: visible;
}

.header__navigation-saved-films {
  max-height: 18px;
  min-width: 142px;
  text-align: right;
  font-size: 13px;
  line-height: 18px;
  visibility: visible;
  /* 138.462% */
}

.header__account {
  padding: 0;
  display: flex;
  border-radius: 20px;
  background: #F9F9F9;
  min-width: 100px;
  height: 32px;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  visibility: visible;
}

.header__account_mobile {
  display: none;
  visibility: hidden;

}

@media screen and (max-width: 767px) {
  .header__account {
    display: none;
    visibility: hidden;
  }

  .header__navigation-films {
    display: none;
    visibility: hidden;
  }

  .header__navigation-saved-films {
    display: none;
    visibility: hidden;
  }

  .header__account_mobile {
    border: none;
    padding: 0;
    display: flex;
    background-image: url("../../images/menuIcon.svg");
    background-color: #FFF;
    width: 44px;
    height: 44px;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.2s linear;
    pointer-events: all;
  }
}